* {
    margin: 0px;
    padding: 0px;
}
nav{background-color: rgb(56, 112, 56);
    
    text-align:center;
    position:relative;
    font-size: 30px;
}
html {
    color: black;
    font-size: 2em;
    font-family: arial;
    background-image:url(images/Reflections.jpg);
  background-size: cover;
  background-attachment:fixed;
}



.box1 {
    background-color: rgba(127, 255, 212, 0.034);
    text-align: left;
    color: white;
    position: static;
    float: left;
}

.box2 {
    background-color: rgba(0, 255, 255, 0.411);
    text-align: right;
    position: static;
    float: right;
}

.box3 {
    background-color: rgba(0, 255, 255, 0);
    
    text-align: right;
    right: 20px;
    float: right;

}

.box4 {
    
    background-color: rgba(127, 255, 212, 0.445);
    text-align: left;
    
    position: relative;
    float: left;
    
}


    

h1{
    text-align: center;
    color: black;
}
h3{
    text-align: left;
    
}

main {
display: flex;
flex-direction:column;
height: auto;
width: auto;
  
}

p {
    width: 50%;
    font-size: 15px;
}
.food{
    text-align: left;
    display: flex;
    justify-content: center;
}
.manatee{
    float:left;
    position:relative;
}
.float{
    text-align: center;
    font-size: 25px;
    color:white; 
}
.travel{
    width: auto;
}
.alligator{
    float:right;
    position:static;
}