* {
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(56, 112, 56);
    display: flex;
    flex-direction: column;
    text-align:center;
    position:relative;
    font-size: 30px;
}
html {
    color: black;
    font-size: 2em;
    font-family: arial;
    background-image:url(images/Reflections.jpg);
    background-size: cover;
    background-attachment:fixed;
}



.box1 {
    background-color: rgba(127, 255, 212, 0);
    text-align: right;
    color: white;
    position: static;
    float: left;
    
}

.box2 {
    background-color: rgba(0, 255, 255, 0.411);
    text-align: left;
    color: white;
    
    float: right;
    right: 20px;
    
}

.box3 {
    background-color: rgba(127, 255, 212, 0);
    text-align: left;
    float: right;
}

.box4 {
    
    background-color: rgba(127, 255, 255, 0.411);
    text-align: left;
    
    
    float: left;
    
}

h1{
    
    color: black;
    font-size: 30px;
    word-wrap: normal;
}
h3{
    text-align: left;
    font-size: 25px;
    color: black;
    word-wrap: normal;
}

main {
    display: flex;
    
    height: auto;
    width: auto
  
}

p {
    width: 50%;
    font-size: 15px;
}
.food{
    text-align: left;
    display: flex;
    justify-content: center;
}
.manatee{
    float:left;
    position:relative;
}
.float{
    text-align: center;
    font-size: 25px;
    color:white;
}

.alligator{
    float:right;
    position:relative;
}